/** footer-area  **/

.footer {

    &__widget {

        &-menu {
            gap: 30px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            ul {
                gap: 15px;
                display: flex;
                flex-direction: column;
        
                li {

                    &:first-child {
                        margin-bottom: 5px;
                        
                        a {
                            color: $white;
                            font-size: 24px;
                            font-weight: 600;
                            line-height: 29px;
                        }
                    }
        
                    a {
                        display: block;
                        font-size: 16px;
                        font-weight: 500;
                        color: #E2E2E2;
                        font-family: $mon;
                        line-height: 26px;
                        text-decoration: none;
                        
                        &:hover, &:focus {
                            @include transform(translate(0, -5px));
                        }
                    }
                }
            }
        }

        &-info {
            max-width: 228px;
        }
    }

    &__bottom {
        border-top: 1px solid rgba(231, 231, 231, 0.5);

        &-text {

            a {
                color: $white;

                &:hover {
                    color: $black;
                    text-decoration: underline;
                }
            }
        }
    }
}

.social-profile { 
    
    ul {
        gap: 15px;
        flex-wrap: wrap;
        display: inline-flex;
        justify-content: center;
        
        @media screen and (max-width: 575px) { 
            padding: 5px 0;
        }
        
        li {  
            width: 35px;
            height: 35px;
            line-height: 35px;
            text-align: center;
            background-color: #130E10;
            @include border-radius(4px);
            @include transition(all .3s ease);
            
            a { 
                color: $white; 
                display: block;
                font-size: 20px;    
            }

            &:hover, &:focus {
                background: $white;
                @include transform(translate(0, -5px));

                a {
                    color: $black;
                }
            }
        }
    }
}
